{% extends "teacher_home.html" %}

{%load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/teacher_css.css'%}">
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Add Practical</h5>
          <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{practical.as_p}}
          <button type="submit" name="button" class="btn btn-danger btn-block">Add Practical</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
