{% extends "student_home.html" %}
{% block body %}
<h1 class="text-center">Assignment</h1>
{% if assignment %}
<div class="container-fluid">


<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">created</th>
      <th scope="col">deadline</th>
      <th scope="col"> status</th>
    </tr>
  </thead>
  <tbody>
    {%for temp in assignment %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{temp.title}}</td>
      <td>{{temp.created}}</td>
      <td>{{temp.deadline}}</td>
      <td><a href="{% url 'student:submitassignment' pk=group.pk assignpk=temp.pk  %}" class="btn btn-outline-info" >Submit assignment</a></td>
    </tr>
    {%endfor %}
  </tbody>

</table>
</div>
{%else %}
<h2>Nothing to submit</h2>
{% endif %}
<h1 class="text-center">Practical</h1>
{% if practical %}
<div class="container-fluid">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">created</th>
      <th scope="col">deadline</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    {%for temp in practical %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{temp.title}}</td>
      <td>{{temp.created}}</td>
      <td>{{temp.deadline}}</td>
        <td><a href="{% url 'student:submitpractical' pk=group.pk assignpk=temp.pk  %}" class="btn btn-outline-info" >Submit practical</a></td>
    </tr>
    {%endfor %}
  </tbody>

</table>
</div>
{%else %}
<h2>Nothing to submit</h2>
{% endif %}
{% if notes %}
<h1 class="text-center">Notes</h1>
<div class="container-fluid">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">created</th>

    </tr>
  </thead>
  <tbody>
    {%for temp in notes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td> <a href="{% url 'teacher:viewnotes' assignpk=temp.pk %}">{{temp.title}} </a></td>
      <td>{{temp.created}}</td>

    </tr>
    {%endfor %}
  </tbody>

</table>
</div>
{%else %}
<h2>Nothing recieved </h2>
{% endif %}
{% endblock %}
