{% extends "index.html" %}
{% block body %}
<style media="screen">
  .class1{
 padding:20px;
    }
</style>
<div class="class1">
  <div class="card bd-secondary text-center text-black card-form " >
    <div class="card-body">
      <div class="form-group">
        <form  method="post">
          {% csrf_token %}
          <label for="username">USERNAME :</label>
          <input type="text" name="username" value="" required><br><br>
          <label for="password">PASSWORD :</label>
          <input type="password" name="password" value="" required><br><br>
          <button type="submit" name="button" class="btn btn-outline-success float-center"> Login </button>
          <!-- <input type="submit" name="" value="submit"> -->
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
