<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:#fffefe;">
    <nav class="navbar navbar-expand-sm mb-3 sticky-top navbar-dark bg-primary">
              <div class="container">
                  <a href="{% url 'student:student_home' %}" class="navbar-brand">Student</a>
                  <button class="navbar-toggler" data-toggle="collapse" data-target="#defaultNavbar1" aria-expanded="false" aria-controls="navbar">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="defaultNavbar1">
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                          <!-- <li class="nav-item"><a href="{%url 'create_group' %}" class="nav-link">Create group</a></li> -->
                          <li class="nav-item"><a href="{%url 'request_logout' %}" class="nav-link"> Logout</a></li>
                        </ul>
                          {% else %}
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="{% url 'student:signup' %}" class="nav-link"> Sign Up</a></li>
                            <li class="nav-item"><a href="{%url 'student:login' %}" class="nav-link" > Login</a></li>
                          </ul>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          </nav>



    {% block body %}
{% if group_list%}
<div class="container-fluid">


<table class="table table-bordered">
  <caption style="caption-side: top;align:center;" >GROUPS</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">subject</th>
      <th scope="col">Div</th>
      <th scope='col'>year</th>
      <th scope="col">dept</th>
    </tr>
  </thead>
  <tbody>
    {%for group in group_list %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{%url 'student_group_detail' pk=group.pk  %}">{{group.name}}</a></td>
      <td>{{group.sub}}</td>
      <td>{{group.division}}</td>
      <td>{{group.year}}</td>
      <td>{{group.dept}}</td>
    </tr>
    {%endfor %}
  </tbody>

</table>
</div>
{% endif %}
<h2>Join Group</h2>
{% if joingroup %}
{% for group in joingroup %}
<div class="container-fluid">
  <div class="row">
<div class="card">
  <h4 class="card-title text-center">  {{group.name}} </h4>
<div class="card-body">

  <a href="{% url 'student:joingroups' pk=group.pk %}" class="btn btn-md btn-primary btn-block text-uppercase"> JOIN GROUP </a>
  <h6>Created by: {{group.owner}}</h6>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

  </body>
</html>
