{% extends "teacher_home.html" %}
{% block body %}
 <div class="btn-group btn-group-justified btn-block">
<a href="{% url 'teacher:addassignment' pk=group.pk %}" class="btn btn-outline-info  btn-lg  text-uppercase" >Add assignment</a>
<a href="{% url 'teacher:addpractical' pk=group.pk %}" class="btn btn-outline-info  btn-lg  text-uppercase">Add practical</a>
<a href="{% url 'teacher:addnotes' pk=group.pk %}" class="btn btn-outline-info  btn-lg  text-uppercase">Add notes</a>
</div>
<h1 class="text-center">Assignment</h1>
{% if assignment %}
<div class="container-fluid">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">created</th>
      <th scope="col">deadline</th>
    </tr>
  </thead>
  <tbody>
    {%for temp in assignment %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td> <a href="{% url 'teacher:viewassignment' assignpk=temp.pk %}">{{temp.title}}</a></td>
      <td>{{temp.created}}</td>
      <td>{{temp.deadline}}</td>
    </tr>
    {%endfor %}
  </tbody>

</table>

</div>
{%else%}
<h2>Nothing assigned</h2>
{% endif %}
<h1 class="text-center">Practical</h1>
{% if practical %}

<div class="container-fluid">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">created</th>
      <th scope="col">deadline</th>

    </tr>
  </thead>
  <tbody>
    {%for temp in practical %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td> <a href="{% url 'teacher:viewpractical' assignpk=temp.pk %}">{{temp.title}}</a></td>
      <td>{{temp.created}}</td>
      <td>{{temp.deadline}}</td>
    </tr>
    {%endfor %}
  </tbody>

</table>

</div>
{%else%}
<h2>Nothing assigned</h2>
{% endif %}
<h1 class="text-center">Notes</h1>
{% if notes %}
<div class="container-fluid">

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">created</th>
    </tr>
  </thead>
  <tbody>
    {%for temp in notes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td> <a href="{% url 'teacher:viewnotes' assignpk=temp.pk %}">{{temp.title}}</a></td>
      <td>{{temp.created}}</td>
    </tr>
    {%endfor %}
  </tbody>
</table
</div>
{%else%}
<h2>Nothing assigned</h2>
{% endif %}
{% endblock %}
