{% extends "teacher_home.html" %}
{% block body %}
{% if practical_list %}
<h1>practical</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">student</th>
      <th scope="col">sapid</th>
      <th scope="col">submission date</th>
      <th scope='col'>View file</th>
    </tr>
  </thead>
  <tbody>
  {% for practical in practical_list %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{practical.student.user}}</td>
      <td>{{practical.student.sapid}}</td>
      <td>{{practical.submission}}</td>
      <td>FILE </td>
    </tr>
    {%endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
